.textSuccess {
  width: 100%;
  position: absolute;
  top: 10;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: green;
  box-shadow: 0 3px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  text-align: center;
  font-size: 14px;
  padding: 2px;
  border-radius: 2px;
}

.textError {
  width: 100%;
  position: absolute;
  top: 10;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: red;
  box-shadow: 0 3px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  text-align: center;
  font-size: 14px;
  padding: 2px;
  border-radius: 2px;
}