body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #455a64;
  background-color: #7e57c2;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightMd);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  flex: 0 0 100%;
  max-width: 100%;
}
